<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <h1>Notes</h1>
    <ul>
        {% for note in notes %}
          <h4>Username: {{note.user}}</h4>
          <li>Note title: {{ note.title }} </li>
          <li>Create time: ({{ note.created_at }})</li>
          <li>{{ note.content }}</li>
        {% empty %}
          <li>No notes yet!</li>
        {% endfor %}
    </ul>
</body>
</html>